/*-------------- FONT -----------------*/

@font-face {
  font-family: 'Open Sans', serif;
}

@font-face {
  font-family: 'Avenir', serif;
  src: url("fonts/Avenir.ttf");
}

@font-face {
  font-family: 'Avenir', serif;
  src: url("fonts/Avenir-Roman.ttf");
  font-weight: lighter;
}
/*---------------------------------------*/

body {
  font-family: 'Open Sans', serif;
  color: #484848;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button, input[type=submit] {
  background: #51336F;
  border-radius: 71px;
  color: white;
  font-family: Open Sans, serif;
  border: none;
  height: 40px;
  width: 130px;
  font-size: 0.9em;
  outline: none;
}

input[type=submit] {
  height: 59px;
  width: 220px;
}

button:hover {
  background-color: #402957;
}

input[type=email] {
  border: 1px solid #C4C4C4;
  border-radius: 68px;
  height: 71px;
  width: 484px;
  padding: 0 30px;
  font-family: 'Open Sans', serif;
  font-style: italic;
  letter-spacing: 1.2px;
  outline: none;
}

form {
  text-align: center;
}

footer{
  height: 248px;
  background-color: #4A4A4A;
  margin-top: 90px; 
}

.content-padding {
  padding-top: 60px;
}

.section-header {
  margin: 80px 0;
}

.section-header div {
  border-top: 8px solid #51336F;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 108px;
  margin: 0 auto;
}

.nav-bar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 2;
}

.navbar img,a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.nav-bar img {
  height: 25px;
}

.nav-bar a {
  text-transform: uppercase;
  color: black;
}

#landing-page {
  display: table;
  padding: 70px;
}

.parallax {
  background-image: url("img/triangle-background-large.png");
  height: 90vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

#landing-logo{
  height: 250px;
  margin: 0 auto;
  display: block;
}

#landing-inner p{
  font-family: Avenir;
  font-weight: lighter;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin: 0;
}

#wustl-logo {
  height: 60px;
  display: block;
  margin: 40px auto;
}

#what-weve-done button{
  display: block;
  margin: -60px auto 0;
}

.past-event-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 60px;
}

.past-event-table td{
  width: 40%;
  position: relative;
}

.past-event-table td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.past-event-table td .past-event-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  background-color: #51336F;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.overlay p {
  color: white;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 40% 10%;
}

.overlay:hover {
  opacity: 0.79;
}

.past-event-table td .past-event-content img{
  width: 100%;
  height: 100%;
}

#news-events button{
  display: block;
  margin: -60px auto 0;
}

.news-table {
  width: 85%;
  margin: 50px auto 90px;
  /*border-spacing: 40px;*/
}

.date-text {
  font-family: CenturyGothic-Bold, serif;
  font-size: 60px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
}

.slash-text {
  font-family: AvenirNextCondensed-UltraLight;
  font-size: 110px;
  color: #E6E6E6;
  vertical-align: middle;
}

.month-text {
  font-family: CenturyGothic;
  font-size: 35px;
  letter-spacing: 0;
  vertical-align: middle;
}

.news-text {
  font-family: CenturyGothic;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  padding-right: 50px;
}


#sponsors button {
  display: block;
  margin: -60px auto 0;
}

.sponsors-table {
  width: 85%;
  margin: 50px auto 90px;
}

.sponsors-table td {
  width: 33.33%;
}

.sponsors-table td img{
  width: 60%;
  display: block;
  margin: 0 auto;
}

footer {
  height: 150px;
  padding-top: 70px;
}

footer div {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer div img {
  height: 24px;
}

footer a {
  float: none;
  display: inline;
  padding: 0;
}

footer {
  color: white;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  font-size: 16;
  letter-spacing: 3px;
}

